@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --primary: #0fa36b;
  --secondary: #222;
  --bg-color: #121212;
  --font-primary: #f5f5f5;
  --font-secondary: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 2rem;
}

main {
  max-width: 450px;
  width: 100%;
}

h1 {
  font-family: 'Questrial', sans-serif;
  color: var(--primary);
  font-size: 64px;
}

header{
  height: 150px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

i {
  font-family: "Satisfy", cursive;
  color: var(--primary);
  font-size: 64px;
  margin: 6px 0;
}

label {
  color: var(--font-secondary);
}
input[type="text"] {
  padding: 0.5rem;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--font-primary);
  max-width: 450px;
  width: 100%;
}
button {
  margin: 1rem 0;
  outline: none;
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding: 0.6rem 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--primary);
  color: #fff;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease-in-out;
}
button:focus,
button:hover {
  outline: none;
  transform: translate(0px, -5px);
}

ul {
  max-width: 550px;
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
  font-family: "Turret Road", cursive;
}

ul li {
  font-size: 24px;
  padding: 0.5rem 1rem;
  color: var(--primary);
}
ul li b {
  background-color: transparent;
  color: var(--font-primary);
  font-family: "Turret Road", cursive;
}

ul li:nth-child(odd) {
  background-color: var(--secondary);
}

#container-dolar-real {
  height: 500px;
}
#container-dolar-real input {
  border: 0;
  color: #909090;
  font-family: verdana;
  font-size: 3em;
  margin-left: 0.1em;
  text-align: right;
  width: 100px;
  transition: all 0.3s ease-in-out;
}

#container-dolar-real {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-dolar-real input:hover {
  /* background-color: #E7F4C9; JS */
  background-color: #E7F4C9;
}


.vale {
  color: var(--font-secondary);
  font-size: 1.5em;
  margin: 0 5px;
}
#usd, #brl {
  color:darkgoldenrod;
  font-size: 2.0em;
  margin: 0 10px;
}

#container-dolar-real img {
  width: 200px;
}

.title-base {
  font-size: 24px;
  padding: 0.5rem 1rem;
  color: var(--font-primary);
  font-family: "Turret Road", cursive;
}
::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-button {
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--font-primary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}